/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/asm89
/vendor/bin
/vendor/namshi
/vendor/lcobucci
/vendor/tymon
/vendor/spatie
/vendor/brick
/vendor/composer
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/facade
/vendor/fakerphp
/vendor/fideloper
/vendor/filp
/vendor/fruitcake
/vendor/graham-campbell
/vendor/tucker-eric
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/league
/vendor/mcamara
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/nunomaduro
/vendor/opis
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ralouphie
/vendor/ramsey
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/nette
/vendor/dflydev
/vendor/webmozart
/vendor/autoload.php
/vendor/laravel/breeze
/vendor/laravel/sail
/vendor/laravel/tinker
/vendor/laravel/framework/src/Illuminate/broadcasting
/vendor/laravel/framework/src/Illuminate/bus
/vendor/laravel/framework/src/Illuminate/cache
/vendor/laravel/framework/src/Illuminate/collections
/vendor/laravel/framework/src/Illuminate/config
/vendor/laravel/framework/src/Illuminate/container
/vendor/laravel/framework/src/Illuminate/console
/vendor/laravel/framework/src/Illuminate/contracts
/vendor/laravel/framework/src/Illuminate/cookie
/vendor/laravel/framework/src/Illuminate/database
/vendor/laravel/framework/src/Illuminate/encryption
/vendor/laravel/framework/src/Illuminate/events
/vendor/laravel/framework/src/Illuminate/filesystem
/vendor/laravel/framework/src/Illuminate/foundation
/vendor/laravel/framework/src/Illuminate/hashing
/vendor/laravel/framework/src/Illuminate/http
/vendor/laravel/framework/src/Illuminate/log
/vendor/laravel/framework/src/Illuminate/macroable
/vendor/laravel/framework/src/Illuminate/mail
/vendor/laravel/framework/src/Illuminate/notifications
/vendor/laravel/framework/src/Illuminate/pagination
/vendor/laravel/framework/src/Illuminate/pipeline
/vendor/laravel/framework/src/Illuminate/queue
/vendor/laravel/framework/src/Illuminate/redis
/vendor/laravel/framework/src/Illuminate/routing
/vendor/laravel/framework/src/Illuminate/session
/vendor/laravel/framework/src/Illuminate/support
/vendor/laravel/framework/src/Illuminate/testing
/vendor/laravel/framework/src/Illuminate/translation
/vendor/laravel/framework/src/Illuminate/validation
/vendor/laravel/framework/src/Illuminate/view
/vendor/laravel/framework/composer.json
/vendor/laravel/framework/license.md
/vendor/laravel/framework/readme.md
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
